:host {
  display: inline-block;
  width: 1em;
  height: 1em;
  contain: strict;
  fill: currentColor;
  box-sizing: content-box !important;
}

.icon-inner, svg {
  display: block;
  height: 100%;
  width: 100%;
}

:host(.icon-small) {
  font-size: 1em !important;
}

:host(.icon-medium) {
  font-size: 1.5em !important;
}


:host(.icon-large) {
  font-size: 2em !important;
}

:host(.icon-x-large) {
  font-size: 2.5em !important;
}