<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <title>Interactive.Training Icon Component</title>
    <script type="module" src="/build/it-icon.esm.js"></script>
    <script nomodule src="/build/it-icon.js"></script>
</head>

<body>

<h1>it-icon</h1>

<h2>Regular</h2>
<it-icon name="api"></it-icon>
<it-icon name="consulting"></it-icon>
<it-icon name="course-conversion"></it-icon>
<it-icon name="course-developement"></it-icon>
<it-icon name="custom-solutions"></it-icon>
<it-icon name="digital-tools"></it-icon>
<it-icon name="gamification"></it-icon>
<it-icon name="launch-tools"></it-icon>
<it-icon name="offline-remote"></it-icon>
<it-icon name="polls"></it-icon>
<it-icon name="reporting"></it-icon>
<it-icon name="scorm-hosting"></it-icon>



<h2>Small</h2>
<it-icon name="api" size="small"></it-icon>
<it-icon name="consulting" size="small"></it-icon>
<it-icon name="course-conversion" size="small"></it-icon>
<it-icon name="course-developement" size="small"></it-icon>
<it-icon name="custom-solutions" size="small"></it-icon>
<it-icon name="digital-tools" size="small"></it-icon>
<it-icon name="gamification" size="small"></it-icon>
<it-icon name="launch-tools" size="small"></it-icon>
<it-icon name="offline-remote" size="small"></it-icon>
<it-icon name="polls" size="small"></it-icon>
<it-icon name="reporting" size="small"></it-icon>
<it-icon name="scorm-hosting" size="small"></it-icon>


<h2>Medium</h2>
<it-icon name="api" size="medium"></it-icon>
<it-icon name="consulting" size="medium"></it-icon>
<it-icon name="course-conversion" size="medium"></it-icon>
<it-icon name="course-developement" size="medium"></it-icon>
<it-icon name="custom-solutions" size="medium"></it-icon>
<it-icon name="digital-tools" size="medium"></it-icon>
<it-icon name="gamification" size="medium"></it-icon>
<it-icon name="launch-tools" size="medium"></it-icon>
<it-icon name="offline-remote" size="medium"></it-icon>
<it-icon name="polls" size="medium"></it-icon>
<it-icon name="reporting" size="medium"></it-icon>
<it-icon name="scorm-hosting" size="medium"></it-icon>



<h2>Large</h2>
<it-icon name="api" size="large" color="success" secondary-color="secondary"></it-icon>
<it-icon name="consulting" size="large" color="danger" secondary-color="warning"></it-icon>
<it-icon name="course-conversion" size="large"></it-icon>
<it-icon name="course-developement" size="large"></it-icon>
<it-icon name="custom-solutions" size="large"></it-icon>
<it-icon name="digital-tools" size="large"></it-icon>
<it-icon name="gamification" size="large"></it-icon>
<it-icon name="launch-tools" size="large"></it-icon>
<it-icon name="offline-remote" size="large"></it-icon>
<it-icon name="polls" size="large"></it-icon>
<it-icon name="reporting" size="large"></it-icon>
<it-icon name="scorm-hosting" size="large"></it-icon>


<style>
    :root {
        --it-color-primary: #f07c2e;

        --it-color-secondary: #0cd1e8;
        --it-color-tertiary: #f4a942;
        --it-color-success: #10dc60;
        --it-color-warning: #ffce00;
        --it-color-danger: #f14141;
        --it-color-light: #f4f5f8;
        --it-color-medium: #989aa2;
        --it-color-dark: #222428;
    }
    body {
        padding: 16px;
        font-size: 32px;
    }
</style>
</body>

</html>
